header {
  height: 60vh;
  text-align: center;
  position: relative;
}

.result {
  position: absolute;
  width: 150px;
  text-align: center;
  top: 0;
  left: 80%;
  transform: translateX(-100%);
  border: 1px dashed $secound-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;

  p {
    display: inline-block;
    padding: 2px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 200px;

  .card {
    width: 33.333%;
  }
}

button {
  height: 110px;
  width: 110px;
  border: 5px solid $secound-color;
  background-color: $primary-color;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;

  .far {
    font-size: 5em;
    line-height: 100px;
    color: $font-color;
  }

  :focus {
    border: none;
  }
}

.messages {
  margin-top: 50px;
  font-size: 1.6em;
}